image:
  repository: registry.gitlab.ics.muni.cz:443/493101/rancher-docker-catalog/pymol
  tag: latest

service:
  type: ClusterIP
  port: 80
  name: web
  targetPort: 8090

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    external-dns.alpha.kubernetes.io/target: k8s-public-u.cerit-sc.cz
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: desktoppassword
    nginx.ingress.kubernetes.io/auth-realm: "Use 'desktop' username and chosen password"
  hosts:
    - host: some.domain.io
      paths:
        - /
  tls:
    - secretName: chart-example-tls
      hosts:
        - some.domain.io

serviceAccount:
  create: false
  annotations: []

mincpu: 1
maxcpu: 4
minram: 4096Mi
maxram: 16384Mi
defhostname: true
customhostname: ""
dnstarget: k8s-public-u.cerit-sc.cz
username: ""
password: ""
persistenthome: true
resolution: "1920x1080"
autoscaling:
  enabled: true
replicaCount: 1
podAnnotations: []
