apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  tls:
{{- if eq .Values.defhostname true }}
    - hosts:
        - {{ .Release.Name }}-{{ .Release.Namespace }}.dyn.cerit-sc.cz
      secretName: {{ printf "%s-%s-dyn-cerit-sc-cz-tls" .Release.Name .Release.Namespace  }}
  rules:
    - host: {{ .Release.Name }}-{{ .Release.Namespace }}.dyn.cerit-sc.cz
{{- else }}
    - hosts:
      - {{ .Values.customhostname }}
      secretName: {{ printf "%s-tls" .Values.customhostname | replace "." "-"  }}
  rules:
    - host: {{ .Values.customhostname }}
{{- end }}
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: {{ .Release.Name }}
                port:
                  number: 80
